[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
appnope = "*"
backcall = "*"
decorator = "*"
jedi = "*"
nltk = "*"
parso = "*"
pdfminer = "*"
pexpect = "*"
pickleshare = "*"
prompt-toolkit = "*"
ptyprocess = "*"
pycryptodome = "*"
six = "*"
traitlets = "*"
wcwidth = "*"
Cython = "*"
Pygments = "==2.15.0"

[dev-packages]

[requires]
python_version = "3.9"
